<section>
  		<div class="container">
  			<h1 class="text-3">Часик в радость, чифир в сладость, ногам ходу... (ПАКЕТЫ УСЛУГ)</h1>
  			<div class="row justify-content-center">
  				<div class="card product_card" style="width: 18rem; background-color: #cd7f32;">
				  <div class="card-body">
				    <h5 class="card-title">ОТСКОЧИМ ПОБОРМОЧЕМ</h5>
				    <p class="card-text">После школы за гаражами и не только.</p>
				    <h3>{{ pc_1 }} руб.</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #c0c0c0;">
				  <div class="card-body">
				    <h5 class="card-title">ПОДЛЕТИМ КАБАНЧИКОМ</h5>
				    <p class="card-text">На случай непредвиденной суеты.</p>
				    <h3>{{ pc_2 }} руб.</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #ffd700;">
				  <div class="card-body">
				    <h5 class="card-title">ОБКАШЛЯЕМ ВОПРОСИКИ</h5>
				    <p class="card-text">Премиальное предложение для малого и среднего бизнеса.</p>
				    <h3>{{ pc_3 }} руб.</h3>
				  </div>
				</div>
  			</div>
  		</div>
  	</section>
  	<!-- Таблица -->
  	<section>
  		<div class="container">
  			<h1 class="text-3">Выезжаю на стрелки за вас</h1>
  			<table class="table table_one">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Услуга</th>
			      <th scope="col">Старая цена</th>
			      <th scope="col">Новая цена</th>
			    </tr>
			  </thead>
			  <tbody>
			  {% for obj in price_table %}
			    <tr>
			      <td>{{ obj.pt_title }}</td>
			      <td><del>{{ obj.pt_old_price }}</del></td>
			      <td>{{ obj.pt_new_price }}</td>
			    </tr>
			  {% endfor %}

			  </tbody>
			</table>
  		</div>
  	</section>